body{
  font-family: helvetica;

}
#content{
  display: block;
  margin: 0 auto;
  width: 500px;
  text-align: center;
}
p{
  font-size: 20px;
  margin: 10px 0px 0px 0px;
}
#fileInput{
  display: none;
}
input{
  width: 150px;
  height: 25px;
}
label{
  font-size: 20px;
  background-color: #0095FF;
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  margin: 15px auto;
  display: block;
  color: white;
}

#results{
  width: 80%;
  margin: 20px auto;
}
#resultsTop{
  width: 100%;
  margin: 0 auto;
  display: flex;
}
#resultsTop a{
  background-color: #0095ff;
  text-align: center;
  color: white;
  text-decoration: none;
  padding: 10px;
  width: 50px;
  border-radius: 15px 15px 0px 0px;
  flex-grow: 1;
}
#resultsBottom{
  width: 100%;
  margin: 0 auto;
}
.hideTable{
  display: none;
}
table{
  width: 100%;
}

.row{
  text-align: center;
}
.headRow td{

  border: 2px solid black;
  padding:3px;
}
.row td{
  border: 1px solid black;
  padding:3px;
}